<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SGT</title>
    <link rel="stylesheet" href="desenio.css" />
  </head>
  <body>
    <div class="sidebar">
      <ul>
        <div id="titulos">
          <center>
            <h2>"Especialidades Mary"</h2>
            <img src="logo.jpg" alt="" style="width: 170px">
       
        </center>
        </div>
        <li>
          <button onclick="leerDoc('QuienesSomos')">¿Quienes somos?</button>
        </li>

        <li>
            <button onclick="leerDoc('Conocenos')">Conocenos</button>
          </li>

        <li>
          <button onclick="leerDoc('Menu')">Menu</button>
        </li>
        <li>
            <button onclick="leerDoc('Pide a domicilio')">Menu</button>
          </li>
        <li>
          <button onclick="leerDoc('quejasSugerencias')">Quejas y sugerencias</button>
        </li>
        <li>
          <button onclick="leerDoc('ServicioCliente')">
            Servicio al cliente
          </button>
        </li>
        <li>
          <button onclick="leerDoc('Vacantes')">Vacantes</button>
        </li>
        </ul>
    </div>

    <div id="contenido" class="contenido">
      <div id="portada">
        <h1>Bienvenido a la pagina oficial de "Especialidades Mary" <3</h1>
        <h1>
          Elaborada por:
          <ul>
            <center>
              <li>Godinez Calva Antonio</li>
              <li>López López Erick Miguel</li>
              <li>Martínez Rivera Brandon de Jesus</li>
              <li>Mendoza Bautista Gabriel</li>
              <li>Rojas Morales Gustavo Antonio</li>
              <li>7°A</li>
            </center>
          </ul>
        </h1>
      </div>
    </div>
    <script src="funciones.js"></script>
  </body>
</html>
