<div id="titulos"><center><h1>MENU DEL DIARIO</h1></center></div>
<center>TACOS (PASTOR, COSTILLA, CHAMORRO, MACHITO, BISTEC, LONGANIZA, POLLO)..................$ 13</center>
<BR>
<center>MEGATACO (PASTOR, COSTILLA, CHAMORRO, MACHITO, BISTEC, LONGANIZA, POLLO)...............$ 18</center>
<BR>
<center>SOPES (NATURAL, PASTOR, COSTILLA, CHAMORRO, LONGANIZA, BISTEC, NATURAL, POLLO, CAMPECHANO, HUEVO, QUESO)..................$ 23</center>
<BR>
<center>POZOLE...............$ 70</center>
<BR>
<center>ENCHILADAS...............$ 70</center>
<BR>
<center>QUESADILLA (PASTOR, CHAMORRO, MACHITO, BISTEC, LONGANIZA, POLLO)...............$ 18</center>
<BR>
<center>TACOS DORADOS (POLLO, PAPA)..................$ 70</center>

<BR>
<BR>

<center><img src="C:\Users\brand\Downloads\TACOSSS.jpeg" style="width: 600px;" alt=""></center>

<body bgcolor="#74DF00F" >
</body>


